// scss-docs-start color-variables
$blue:    #3961d0 !default;
$indigo:  #2a1a68 !default;
$purple:  #663eff !default;
$pink:    #ff3e76 !default;
$red:     #e50620 !default;
$orange:  #e55b06 !default;
$yellow:  #e5ca06 !default;
$green:   #107353 !default;
$teal:    #5d7388 !default;
$cyan:    #159ea7 !default;
$gmgreen: #4d9900 !default;
// scss-docs-end color-variables

$link-color: $blue;
$btn-primary-color: $indigo;
