.swagger-ui th, .swagger-ui td {
  background-color: transparent;
  border: none;
}

.swagger-ui p {
  margin-top: 0 !important;
}

.swagger-ui code {
  padding: 0;
  font-weight: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.swagger-ui li::before {
  content: none !important;
}